input,
select {
  width: 200px;
  height: 30px;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

label {
  width: 150px;
}
